* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black !important;
  height: 100vh;
  overflow: hidden;
}
/* Utils */
.container-fluid {
  margin: 3rem auto;
}
/* HEADER */
header {
  min-height: 100px;
  min-width: 500px;
  width: 90%;
  background-color: black;
}

#header-div {
  height: 100%;
}

header img {
  width: 100%;
}

#logo-div {
  width: 23%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: -500px; /* Inizia fuori schermo */
  left: 50%;
  transform: translateX(-50%);
  transition: top 1s ease-out; /* Transizione dolce */
}

#logo-div.animate {
  top: 50%; /* Posiziona al centro verticalmente */
  transform: translate(-50%, -50%); /* Centra orizzontalmente e verticalmente */
}

/* LEFT HREF */
#left-href {
  width: 23%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: 50%;
  left: -500px; /* Inizia fuori schermo */
  transform: translateY(-50%); /* Mantenere centrato verticalmente */
  transition: left 1s ease-out 0.5s; /* Transizione dolce, ritardata di 0.5s */
}

#left-href.animate {
  left: calc(100px); /* Posiziona accanto al logo-div */
  transform: translateY(-50%);
}

/* RIGHT HREF */
#right-href {
  width: 23%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: 50%;
  right: -500px; /* Inizia fuori schermo a destra */
  transform: translateY(-50%); /* Mantiene centrato verticalmente */
  transition: right 1s ease-out 0.5s; /* Transizione dolce, ritardata di 0.5s */
}

#right-href.animate {
  right: calc(100px); /* Posiziona accanto al logo-div a sinistra */
  transform: translateY(-50%);
}

header a {
  width: 15%;
  text-decoration: none;
  color: white;
}

header a:hover {
  transform: scale(1.1);
}

header a:active {
  transform: scale(1.2);
}

#chisiamo-href {
  width: 85px;
}
/* Carousel */
#carousel {
  height: 400px;
  width: 700px;
  margin: 30px auto;
  position: relative;
}

#carousel .gallery {
  height: 100%;
  position: relative;
}

/* Galleria */
.gallery {
  position: relative;
  height: 100%;
}

#imgText {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: end;
  background-color: rgba(0, 0, 0, 0.4);
}
#imgText h2,
#imgText p {
  text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.8);
}

#carousel img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#carousel img.active {
  display: block;
}

/* Carousel Buttons */
#carousel .bi {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.bi:hover {
  scale: 1.1;
}

.bi:active {
  scale: 1.2;
}

#prev {
  left: -10%;
}

#next {
  right: -10%;
}

/* Thumbnails */

#thumbnails {
  width: 700px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#thumbnails img {
  height: 100%;
  width: 19%;
  border-radius: 10px;
  filter: grayscale(1);
  cursor: pointer;
  transition: transform 0.5s;
}

#thumbnails img:hover {
  transform: translateY(-10px);
  filter: grayscale(0.5);
  box-shadow: 0 0 10px goldenrod;
}

#thumbnails img.active {
  filter: grayscale(0);
  box-shadow: 0 0 10px green;
}


