* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black !important;
  height: 100vh;
  overflow: hidden;
}
/* Utils */
.container-fluid {
  margin: 3rem auto;
}
/* HEADER */
header {
  background-color: black;
}

#header-div {
  height: 100%;
}

header img {
  width: 100%;
}

#logo-div {
  width: 20%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: -500px; /* Inizia fuori schermo */
  left: 50%;
  transform: translateX(-50%);
  transition: top 1s ease-out; /* Transizione dolce */
}

#logo-div.animate {
  top: 50%; /* Posiziona al centro verticalmente */
  transform: translate(-50%, -50%); /* Centra orizzontalmente e verticalmente */
}

/* LEFT HREF */
#left-href {
  width: 20%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: 50%;
  left: -500px; /* Inizia fuori schermo */
  transform: translateY(-50%); /* Mantenere centrato verticalmente */
  transition: left 1s ease-out 0.5s; /* Transizione dolce, ritardata di 0.5s */
}

#left-href.animate {
  left: calc(100px); /* Posiziona accanto al logo-div */
  transform: translateY(-50%);
}

/* RIGHT HREF */
#right-href {
  width: 20%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: 50%;
  right: -500px; /* Inizia fuori schermo a destra */
  transform: translateY(-50%); /* Mantiene centrato verticalmente */
  transition: right 1s ease-out 0.5s; /* Transizione dolce, ritardata di 0.5s */
}

#right-href.animate {
  right: calc(100px); /* Posiziona accanto al logo-div a sinistra */
  transform: translateY(-50%);
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  transform: scale(1.1);
}

header a:active {
  transform: scale(1.2);
}

#chisiamo-href {
  width: 85px;
}

/* MOBILE */
#mobile-header-div {
  width: 100%;
  height: 100%;
}

#mobile-header-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#mobile-header-links img {
  align-self: center;
}

#mobile-header-links img {
  width: 40%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: -100px; /* Inizia fuori schermo */
  left: 50%;
  transform: translateX(-50%);
  transition: top 1s ease-out 0.5s; /* Transizione dolce */
}

#mobile-header-links img.animate {
  top: 50%; /* Posiziona al centro verticalmente */
  transform: translate(
    -50%,
    -130%
  ); /* Centra orizzontalmente e verticalmente */
}

#mobile-right-href {
  width: 100%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: 50%;
  right: -500px; /* Inizia fuori schermo a destra */
  transform: translateY(-50%); /* Mantiene centrato verticalmente */
  transition: right 1s ease-out 0.5s; /* Transizione dolce, ritardata di 0.5s */
  text-align: center;
}

#mobile-right-href.animate {
  right: 0%; /* Posiziona accanto al logo-div a sinistra */
  transform: translateY(50%);
}

#mobile-left-href {
  width: 100%;
  position: absolute; /* Posizionamento assoluto per animare */
  top: 50%;
  left: -500px; /* Inizia fuori schermo */
  transform: translateY(-50%); /* Mantenere centrato verticalmente */
  transition: left 1s ease-out 0.5s; /* Transizione dolce, ritardata di 0.5s */
  text-align: center;
}

#mobile-left-href.animate {
  left: 0%; /* Posiziona accanto al logo-div */
  transform: translateY(-50%);
}
